{% extends "base.html" %}
{% block content %}
<div class="card">
  <h2>Student Blogs</h2>
  <table class="table">
    <thead><tr><th>Title</th><th>Author</th><th>content</th><th></th></tr></thead>
    <tbody>
    {% for b in blogs %}
      <tr>
        <td>{{ b.title }}</td>
        <td>{{ b.author }}</td>
        <td>{{ b.content }}</td>
        <td><a class="btn" href="{{ b.link }}" target="_blank">Visit</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
