{% extends "base.html" %}
{% block content %}
<div class="card">
  <h2>Hackathons</h2>
  <table class="table">
    <thead><tr><th>Name</th><th>Organizer</th><th>Deadline</th><th></th></tr></thead>
    <tbody>
    {% for h in hackathons %}
      <tr>
        <td>{{ h.Hackathon }}</td>
        <td>{{ h.Organizer }}</td>
        <td>{{ h.Deadline }}</td>
        <td><a class="btn" href="{{ h.Link }}" target="_blank">Visit</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
