{% extends "base.html" %}
{% block content %}
<div class="card">
  <h2>Internships</h2>
  <table class="table">
    <thead><tr><th>Company</th><th>Role</th><th>Duration</th><th></th></tr></thead>
    <tbody>
    {% for i in internships %}
      <tr>
        <td>{{ i.Company }}</td>
        <td>{{ i.Role }}</td>
        <td>{{ i.Duration }}</td>
        <td><a class="btn" href="{{ i.Link }}" target="_blank">Apply</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
